/* Content styling */
.content {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 60%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in;
    flex: 1; 
}

.content p {
    font-size: calc(1em + 0.5vw);
    line-height: 1.5;
    margin-bottom: 1.5em;
}
.content h1 {
    font-size: calc(1em + 2vw);
}

.content h2 {
    font-size: calc(0.5em + 2vw);
}

/* Image and text wrapping */
.content img.left {
    float: left;
    margin: 10px 20px 10px 0;
    max-width: 45%;
}

.content img.right {
    float: right;
    margin: 10px 0 10px 20px;
    max-width: 45%;
}

/* Clearfix */
.content::after {
    content: "";
    display: table;
    clear: both;
}
