/* Footer styling */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0; /* Increased padding for more space */
    position: relative; /* Ensure footer is positioned correctly */
    font-size: calc(1em + 0.5vw);
}

.footer a {
    color: lightblue;
}
