/* Responsive styles */
@media screen and (max-width: 1200px) {
    .content {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .content p {
        font-size: calc(0.9em + 1.0vw); /* Slightly smaller base size */
    }

    .content img.left, .content img.right {
        float: none;
        margin: 20px auto;
        display: block;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .content {
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .content p {
        font-size: calc(0.25em + 1.0vw); /* Even smaller base size for very small screens */
    }
}